@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;0,800;1,200;1,400;1,500;1,600;1,700&display=swap");
:root {
  font-size: 65.25%;
  --font-size-100: 1.3rem;
  --font-size-200: 1.8rem;
  --font-size-300: 2.5rem;
  --font-size-400: 3.3rem;
  --font-size-500: 4.5rem;
  --color-white-100: #ffff;
  --color-white-200: #e2e2e2;
  --color-white-300: #c4c4c4;
  --color-black-100: #1d1c1a;
  --color-black-200: #302e29;
  --color-black-300: #585854;
  --color-orange-100: #ff7b00;
  --color-orange-200: #ee790b;
  --color-orange-300: #b45700;
  --bg-transparent: rgba(62, 62, 62, 0.5);
  --border-radius-100: 10px;
  --border-radius-200: 20px;
  --border-radius-300: 30px;
}

@media screen and (min-width: 768px) {
  :root {
    --font-size-100: 1.5rem;
    --font-size-200: 2rem;
    --font-size-300: 2.7rem;
    --font-size-400: 2.5rem;
    --font-size-500: 5rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: var(--color-white-100);
}

a {
  text-decoration: none;
}

/* font-size */

.heading-big {
  font-size: var(--font-size-500);
}

.heading {
  font-size: var(--font-size-400);
}

.heading-small {
  font-size: var(--font-size-300);
}

.txt {
  font-size: var(--font-size-200);
}

.txt-big {
  font-size: var(--font-size-300);
}

.txt-small {
  font-size: var(--font-size-100);
}
/* text-color */

.whidt {
  color: var(--color-white-100);
}

.gray {
  color: var(--color-white-300);
}

.orange {
  color: var(--color-orange-100);
}
/* text gradient color */
.gradient-one {
  color: transparent;
  background: linear-gradient(
    to right,
    var(--color-orange-100),
    rgb(56, 255, 255)
  );
  background-clip: text;
}

.gradient-two {
  color: transparent;
  background: linear-gradient(
    to right,
    var(--color-orange-300),
    var(--color-white-100)
  );
  background-clip: text;
}

/* margins */
.mg-y-100 {
  margin: 1rem 0;
}

.mg-y-200 {
  margin: 2rem 0;
}

.mg-y-300 {
  margin: 3rem 0;
}
.mg-x-300 {
  margin: 0 3rem;
}

.mg-top-100 {
  margin-top: 1rem;
}

.mg-top-200 {
  margin-top: 2rem;
}

.mg-top-300 {
  margin-top: 3rem;
}

.mg-bottom-100 {
  margin-bottom: 1rem;
}

.mg-bottom-200 {
  margin-bottom: 2rem;
}

.mg-bottom-300 {
  margin-bottom: 3rem;
}
.mg-bottom-400 {
  margin-bottom: 4rem;
}
.mg-left-100 {
  margin-left: 1rem;
}
.mg-left-200 {
  margin-left: 2rem;
}
.mg-left-300 {
  margin-left: 3rem;
}
.mg-right-100 {
  margin-right: 1rem;
}
.mg-right-200 {
  margin-left: 2rem;
}
.mg-left-300 {
  margin-left: 3rem;
}

li {
  list-style-type: none;
}

/* Nav meun number */
.container-nav-number {
  background-color: var(--color-black-300);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}
.number-nav {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding: 3px;
}
.number-nav > .link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 12px;
  font-size: var(--font-size-100);
}
.number-nav > .link:hover {
    color:var(--color-orange-300) ;
}
.number-nav > .link:active {
    color:var(--color-orange-200) ;
}
.layout-number {
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout-number > .btn {
  font-size: var(--font-size-200);
  background-color: transparent;
  outline: none;
  border: none;
}
.layout-number > .btn:hover {
   color: var(--color-black-200);
}
.layout-number > .btn:active {
   color: var(--color-orange-200);
}
