<div class="logo-container"></div>
  <div class="container-model">
    <div class="type-logo">
      <img src="/icon/bmw.svg" alt="" />
    </div>
    <p class="txt-small">BMW</p>
  </div>
  <div class="container-model">
    <div class="type-logo">
      <img src="/icon/bmw.svg" alt="" />
    </div>
    <p class="txt-small">BMW</p>
  </div>
  <div class="container-model">
    <div class="type-logo">
      <img src="/icon/bmw.svg" alt="" />
    </div>
    <p class="txt-small">BMW</p>
  </div>
</div>
