<!-- nav number meun -->
<div class="container-nav-number">
  <div class="layout-number">
    <button class="btn"><i class="fa-solid fa-arrow-left"></i></button>
    <ul class="number-nav mg-left-300 mg-x-300">
      <li class="link"><a href="#">1</a></li>
      <li class="link"><a href="#">2</a></li>
      <li class="link"><a href="#">3</a></li>
      <li class="link"><a href="#">.</a></li>
      <li class="link"><a href="#">.</a></li>
      <li class="link"><a href="#">.</a></li>
      <li class="link"><a href="#">100</a></li>
    </ul>
    <button class="btn"><i class="fa-solid fa-arrow-right"></i></button>
  </div>
</div>
