 <nav class="container-navbar"></nav>
      <div class="logo-container">
        <div class="nav-img">
          <img src="/images/logo.png" alt="" />
        </div>
        <header class="heading-car">
          <h3 class="heading-small">CarShop</h3>
        </header>
      </div>
      <button class="toggle">
        <i class="fa-solid fa-bars"></i>
      </button>
      <ul class="nav-list">
        <!-- class active -->
        <li class="nav-link"><a href="#">Home</a></li>
        <li class="nav-link"><a href="#">Experience</a></li>
        <li class="nav-link"><a href="#">Contact</a></li>
        <li class="nav-link"><a href="#">Aboutme</a></li>
      </ul>
      <ul class="nav-scion">
        <li class="scion-link">
          <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
        </li>
        <li class="scion-link">
          <a href="#"><i class="fa-solid fa-globe"></i></a>
        </li>
        <li class="scion-link">
          <a href="#"><i class="fa-solid fa-circle-user"></i></a>
        </li>
      </ul>
    </nav>