<!-- nav number meun -->
<div class="container-nav-number">
  <div class="layout-number">
    <button class="btn"><i class="fa-solid fa-arrow-left"></i></button>
    <ul class="number-nav mg-left-300 mg-x-300">
      <li class="link">1</li>
      <li class="link">2</li>
      <li class="link">3</li>
      <li class="link">4</li>
      <li class="link">5</li>
      <li class="link">.</li>
      <li class="link">.</li>
      <li class="link">.</li>
      <li class="link">100</li>
    </ul>
    <button class="btn"><i class="fa-solid fa-arrow-right"></i></button>
  </div>
</div>
